In [1]:
import pandas as pd
import numpy as np

In [35]:
data = {'aa':10, 'bb':20, 'cc':30, 'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

### 데이터 수정

In [5]:
sr[0] = 100 # sr['aa'] = 100 , sr.loc['aa'] = 100, sr.iloc[0] = 100
sr

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64

In [9]:
sr[1:4] = 20
sr

aa    100
bb     20
cc     20
dd     20
ee     50
Name: 국어점수, dtype: int64

In [10]:
sr[1:4] = [55, 65, 75]
sr

aa    100
bb     55
cc     65
dd     75
ee     50
Name: 국어점수, dtype: int64

In [12]:
sr[1:4] = sr[1:4] + 5
sr

aa    100
bb     65
cc     75
dd     85
ee     50
Name: 국어점수, dtype: int64

In [15]:
# 30 이상인 데이터에 대해 5를 더한 값으로 수정
sr[ sr >= 30 ] += 5
sr

aa    110
bb     75
cc     85
dd     95
ee     60
Name: 국어점수, dtype: int64

### 추가

In [19]:
sr['ff'] = 100 # 있으면 수정, 없으면 추가
sr

aa     10
bb     20
cc     30
dd     40
ee     50
ff    100
Name: 국어점수, dtype: int64

In [20]:
sr1 = pd.Series([70,80,90],index=['gg','hh','ii'])
sr.append( sr1 )

aa     10
bb     20
cc     30
dd     40
ee     50
ff    100
gg     70
hh     80
ii     90
dtype: int64

### 삭제

In [23]:
# sr.drop( 부여된 인덱스 )
sr.drop( ['aa', 'ee'] ) #삭제된 새로운 시리즈를 반환
sr = sr.drop( ['aa', 'ee'] )

In [26]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [27]:
sr.drop( ['aa', 'ee'], inplace = True )
sr

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [34]:
# 40 이상인 데이터를 삭제
sr[sr>=40].index # index 추출
sr = sr.drop( sr[sr>=40].index )
sr

aa    10
bb    20
cc    30
Name: 국어점수, dtype: int64

### 정렬

In [38]:
sr[0] = 100
sr

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64

In [43]:
sr_asc = sr.sort_values(ascending=True)
sr_asc

bb     20
cc     30
dd     40
ee     50
aa    100
Name: 국어점수, dtype: int64

In [44]:
sr_idx = sr.sort_index()
sr_idx

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64