In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

In [4]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data, index=['a','b','c','d'] )
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

### 인덱싱

In [7]:
df['eng'] # df[column] // Series

a    10
b    30
c    50
d    70
Name: eng, dtype: int64

In [10]:
sr = df['eng']
sr.sum()

160

In [12]:
df[ ['eng'] ] # DataFrame
df[ ['eng','math'] ]

   eng  math
a   10    90
b   30    50
c   50    20
d   70    70

### 슬라이싱

In [16]:
df[1:4] # 1, 2, 3 rows

   eng  kor  math
b   30   40    50
c   50   60    20
d   70   80    70

### iloc(zero base), loc(부여된 인덱스)
#### iloc[row, column], loc[row, column]

In [15]:
df.iloc[0] # 0 row // Series

eng     10
kor     20
math    90
Name: a, dtype: int64

In [17]:
df.iloc[0,0] # (0,0)

10

In [18]:
df.iloc[0:3] # df.iloc[ :3 ]

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20

In [19]:
df.iloc[0:3, 1:]

   kor  math
a   20    90
b   40    50
c   60    20

In [21]:
df.iloc[:,:-1] # 특성데이터 추출시 많이 사용 (AI) // 마지막 column 을 제외한 나머지

   eng  kor
a   10   20
b   30   40
c   50   60
d   70   80

In [23]:
df.columns.difference(['math']) # 해당 인덱스를 뺀 나머지
df[df.columns.difference(['math'])]

   eng  kor
a   10   20
b   30   40
c   50   60
d   70   80

In [26]:
df.iloc[ [0,2,3] , [0,2] ] # 복수개 선택

   eng  math
a   10    90
c   50    20
d   70    70

In [29]:
df.loc['a', 'eng']

10

In [30]:
df.loc['a':'c']

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20

In [31]:
df.loc['a':'c', 'kor':]

   kor  math
a   20    90
b   40    50
c   60    20

In [33]:
df.loc[ ['a','c','d'], ['eng', 'math'] ]

   eng  math
a   10    90
c   50    20
d   70    70

### boolean indexing

In [34]:
df[[True, False, True, False]] # row 단위

   eng  kor  math
a   10   20    90
c   50   60    20