In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

In [11]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data, index=['a','b','c','d'] )
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [3]:
df*2

   eng  kor  math
a   20   40   180
b   60   80   100
c  100  120    40
d  140  160   140

In [5]:
df['eng'] = df['eng'] + 2
df

   eng  kor  math
a   14   20    90
b   34   40    50
c   54   60    20
d   74   80    70

In [6]:
df.loc[ 'b':'c', 'kor': ]

   kor  math
b   40    50
c   60    20

In [8]:
df.loc[ 'b':'c', 'kor': ] = df.loc[ 'b':'c', 'kor': ] +2
df

   eng  kor  math
a   14   20    90
b   34   44    54
c   54   64    24
d   74   80    70

### 관계 논리 연산자

In [9]:
df['eng'] > 30

a    False
b     True
c     True
d     True
Name: eng, dtype: bool

In [12]:
df[ df['eng'].isin([30,70]) ]

   eng  kor  math
b   30   40    50
d   70   80    70

In [13]:
df[ df['eng'].between( 30, 50) ]

   eng  kor  math
b   30   40    50
c   50   60    20

### query

In [15]:
df.query( 'eng==30 or eng==50')

   eng  kor  math
b   30   40    50
c   50   60    20